.addContainer {
}

.addForm {
  display: flex;
  flex-direction: column;
}

.formLabel {
  margin-bottom: 10px;
}

.input {
  height: 28px;
  margin-bottom: 10px;
}

.textarea {
  margin-bottom: 10px;
}
