.container {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #f5f5f5;
}

.navigation {
  display: flex;
  align-items: baseline;
  padding-top: 16px;
  padding-bottom: 16px;
}

.mainTitle {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 30px;
  margin-left: 20px;
  border-bottom: 2px solid #7761ff;
  cursor: pointer;
}

.titleAccent {
  color: #7761ff;
  font-size: 32px;
}

.contactsLink {
  text-decoration: none;
  color: #f5f5f5;
  margin-left: 30px;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;

  transition-property: box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.contactsLink:hover {
  color: #7761ff;
  box-shadow: 0px 1px 4px 2px #7761ff, 0px 1px 4px 0px #7761ff,
    0px 4px 8px 0px #7761ff, 0px 4px 8px 0px #7761ff;
}

.addBtn {
  background-color: transparent;
  border: none;
  color: #f5f5f5;
  margin-left: 30px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;

  transition-property: box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.addBtn:hover {
  color: #7761ff;
  box-shadow: 0px 1px 4px 2px #7761ff, 0px 1px 4px 0px #7761ff,
    0px 4px 8px 0px #7761ff, 0px 4px 8px 0px #7761ff;
}

.closeModalBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  color: wheat;
  border: none;
}
