.errorContainer {
  margin-top: 50px;
  text-align: center;
}

.errorTitle {
  color: #ac1311;
}

.link {
  text-decoration: underline;
  color: #9280ff;
  cursor: pointer;
}

.text {
  margin-top: 26px;
}
